@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}
.btn {
    display: inline;
    text-align: center;
    padding: 0.6rem 1.2rem;
    background-color: #fff;
    border: 2px solid lightgreen;
    border-radius: 10px;
    color: #999;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
  }

.headsec{
    padding: 4px;
    width: 100%;
    margin-bottom: auto;
    color: white;
    display: flex;
    justify-content: space-between;
}

.logintext{
    margin-top: auto;
    font-size: 13px;
    font-weight: 300;
}

.brandname{
    margin-top: auto;
    font-size: 30px;
    font-weight: 300;
}

.logincontainer{
    
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
min-height: 100vh;
background:rgba(0, 0, 0, 0.7) url(https://images.unsplash.com/photo-1621111848501-8d3634f82336?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=965&q=80);
background-repeat: no-repeat;
width: 100%;
background-size: cover;
background-position: center;
 background-blend-mode: darken;
}

.login_type{
    width: 70%;
    padding: 50px;
    display: flex;
    gap: 35px;
}

.typereccruit{
    width: 100%;
    background-color: white;
    height: auto;
    border-radius: 20px;
    padding: 30px;
}




.typeindividual{
    width: 100%;
    background-color: white;
    height: auto;
    padding: 30px;
    border-radius: 20px;
}

.title_head{
    font-size: 60px;
    font-weight: 500;
    line-height: 125%;
    margin-bottom: 40px;
    margin-top: 0;
    color: white;
    text-align: center;
    margin-top: 50px;
}
.headertext{
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    line-height: 125%;
    margin: 0;
    width: 100%;
}

.headertext:first-child{
    color: #5d57fb;
}

.tw:first-child{
color: #1a0359 !important;
}

.othertext{
    color: #76788c;
    font-size: 16px;
    line-height: 142%;
    margin-top: 20px;
}

.dds{
    width: 620px;
    text-align: center;
        font-size: 20px;
        line-height: 142%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        color: white;
}

.contflex{
    display: flex;
}

.icon{
    
    border-radius: 50%;
    background-color: rgb(238 238 255);
    padding: 15px;
    margin-left: 12px;
    width: 45px;
    height: 48px;
    float: right;
}

.typereccruit:hover{

    background-color: azure;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: translateX(-6px);
        transition: all .6s ease-out;
}

.typeindividual:hover{
    background-color: bisque;
    transition: 0.4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateX(6px);
    transition: all .6s ease-out;
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 1055px) {
    .headsec{
padding: 10px;
    }
    
    .login_type{
        width: 90%;
        margin: auto;
        flex-direction: column;
        padding: 40px;
        display: flex;
        gap: 30px;
    }
    .othertext {
        color: #76788c;
        font-size: 15px;
        line-height: 142%;
        margin-top: 9px;
    }
  }


  @media only screen and (max-width: 555px) {
.headsec{
    margin-bottom: 30px;
}
    .brandname{
font-size: 20px;
    }

    .logintext span{display: none;}
    .logincontainer{
    
        display: flex;
        flex-direction: column;
          align-items: center;
          justify-content: center;
      min-height: 100vh;
      background:rgba(0, 0, 0, 0.7) url(https://images.unsplash.com/photo-1581092795360-fd1ca04f0952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
      background-repeat: no-repeat;
      width: 100%;
      background-size: cover;
      background-position: center;
       background-blend-mode: darken;
      }
    .login_type {
        width: 100%;
        margin: auto;
        flex-direction: column;
        padding: 10px;
        display: flex;
        gap: 28px;
    }
    .title_head {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 500;
        padding: 5px;
    }
    .headertext{
        align-items: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 125%;
        margin: 0;
        width: 100%;
    }
    .dds {
        width: 100%;
        text-align: center;
        font-size: 19px;
        line-height: normal;
        margin-bottom: 11px;
        margin-left: auto;
        margin-right: auto;
        color: white;
    }
    .othertext {
        color: #76788c;
        font-size: 15px;
        line-height: normal;
        margin-top: 3px;
    }
  }